<div class="calendar__header">
  <div class="calendar__row">
    {{yield (hash resourceHeader = (component 'event-scheduler/calendar/wrappers/resource-header'))}}
    {{yield (hash gridHeader = (component 'event-scheduler/calendar/wrappers/grid-header'
      calendarInst=calendarInst))}}
  </div>
</div>
<div class="calendar-content">
  {{#each calendarInst.resources as |resource| }}
    {{event-scheduler/calendar/wrappers/resource resource=resource calendarInst=calendarInst}}
  {{else}}
    {{yield (hash empty = (component "event-scheduler/calendar/wrappers/empty"
      message='No resources to display'))}}
  {{/each}}
</div>
{{#each-in calendarInst.events as |eventId eventObj| }}
  {{event-scheduler/calendar/wrappers/event
    event=eventObj
    draggable=calendarInst.isEventsDraggable}}
{{/each-in}}
