{{yield (hash toolbar = (component 'event-scheduler/calendar/wrappers/toolbar'
  selectedDate=selectedDate
  viewType=viewType
  calendarInst=calendarInst
))}}

<div class="es-calendar-container">
  <div class="es-calendar {{viewClass}}" data-test-es="es-calendar">
    <div class="calendar__header">
      <div class="calendar__row">
        {{yield (hash resourceHeader = (component 'event-scheduler/calendar/wrappers/resource-header'))}}
        {{yield (hash gridHeader = (component 'event-scheduler/calendar/wrappers/grid-header'
          slots=calendarInst.slots
          viewType=viewType
          selectedDate=selectedDate
          slotFormat=calendarInst.slotConfig.format
          onDateViewChange=(action 'changeDateView')
          ))}}
      </div>
    </div>
    <div class="calendar__content"
      ondrop={{action "droppedEvent"}}
      ondragOver={{action "draggedOver"}}
      ondragLeave={{action "draggedAway"}}>
      {{#each calendarInst.resources as |resource| }}
        {{event-scheduler/calendar/wrappers/resource resource=resource}}
      {{else}}
        {{yield (hash empty = (component "event-scheduler/calendar/wrappers/empty"
          message='No resources to display'))}}
      {{/each}}
    </div>
    {{#each-in calendarInst.events as |eventId eventObj| }}
      {{#if eventObj}}
        {{event-scheduler/calendar/wrappers/event
          event=eventObj
          draggable=calendarInst.isEventsDraggable}}
        {{/if}}
    {{/each-in}}
  </div>
</div>

{{#if displayTimeFieldDialog}}
  {{event-scheduler/calendar/time-field-dialog
    timeFieldChoices=timeFieldChoices
    onStartTimeUpdate=(action 'updateStartTime' displayTimeFieldDialog)
    onClose=(action (mut displayTimeFieldDialog false))
    }}
{{/if}}