{{yield (hash header = (component 'event-scheduler/external-events/wrappers/header'))}}
<div class="external-events__content"
  ondragStart={{action "dragStarted"}}
  ondragEnd={{action "dragEnded"}}>
  {{#each-in events as |eventId eventObj| }}
    {{#if eventObj}}
      {{event-scheduler/external-events/wrappers/event event=eventObj draggable=config.draggable}}
    {{/if}}
  {{else}}
    {{#unless externalEventsInst.isLoading}}
      {{yield (hash empty = (component 'event-scheduler/external-events/wrappers/empty'
        message='No events to display'))}}
    {{/unless}}
  {{/each-in}}
  {{#if externalEventsInst.isLoading}}
    {{event-scheduler/external-events/placeholders/event}}
  {{/if}}
  {{#if externalEventsInst.isAllLoaded}}
    <div class="end-of-list">
      {{t 'all_loaded' type='events'}}
    </div>
  {{/if}}
</div>