{{#if hasBlock}}
  {{yield}}
{{else}}
  <div class="event card">
    <div class="card__body">
      <div class="card__data">
        <div class="card__data--content">
          <span class="subject" data-test-es="service-subject">{{event.title}}</span>
          <span class="muted text--default" data-test-es="service-id">#{{event.id}}</span>
        </div>
      </div>
    </div>
    <div class="card__footer">
      <div class="card__data">
        <div class="card__data--icon">{{svg-jar 'calendar' class="app-icon app-icon--small" aria-hidden="true"}}</div>
        <div class="card__data--content" data-test-es="service-time">{{serviceTime}}</div>
      </div>
    </div>
  </div>
{{/if}}