{{#if canDisplayEvent}}
  {{#ember-wormhole destinationElement=resource}}
    {{#event-scheduler/calendar/wrappers/event/event-card
      event=event
      startPosition=startPosition
      endPosition=endPosition
      draggable=draggable
    }}
      <div class="event card" data-name="event">
        {{#if eventCustomComponent}}
          {{component eventCustomComponent event=event}}
        {{else}}
          <div class="card__header ellipsis">
            {{#if (eq viewType VIEWS.DAY)}}
              <span>{{t "duration"}}</span>
            {{/if}}
            <span class="text--semi-bold" data-test-es="appointment-duration">{{appointmentDuration}}</span>
          </div>
          <div class="card__body ellipsis">
            <span data-test-es="event-id">#{{event.id}}</span>
            <span class="subject" data-test-es="event-title">{{event.title}}</span>
          </div>
        {{/if}}
      </div>
    {{/event-scheduler/calendar/wrappers/event/event-card}}
  {{/ember-wormhole}}
{{/if}}
