{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if (eq viewType VIEWS.DAY)}}
    {{#each slots as |slot columnIndex|}}
      {{#if (eq columnIndex 0)}}
        <div class="calendar__row--slot" style={{grid-position 1 0 1 columnIndex 1 1}}></div>
        <div class="calendar__row--slot" style={{grid-position 1 0 1 slots.length 0 1}}></div>
      {{else if (eq (mod columnIndex 2) 0)}}
        <div class="calendar__row--slot" style={{grid-position 1 0 1 columnIndex 0 2}}>
          {{moment-format slot slotFormat}}
        </div>
      {{/if}}
    {{/each}}
  {{else}}
    {{#each slots as |slot columnIndex|}}
      <div class="calendar__row--slot" style={{grid-position 1 0 1 columnIndex 1 1}}>
        <div class="text--semibold">{{moment-format slot 'dddd'}}</div>
        <button {{action "navigate" slot}}
          data-test-es={{moment-format slot 'DD-MM-YYYY'}}
          class="es-day-number
          {{if (is-same slot today precision='day') 'es-day-number--today'}}
          {{if (is-same slot selectedDate precision='day') 'es-day-number--selected'}}">
          {{moment-format slot 'DD'}}
        </button>
      </div>
    {{/each}}
  {{/if}}
{{/if}}